<% provide(:button_text, "ToDoの追加") %>
<!-- ToDo追加フォーム -->
<div class="form">
  <div class="form-name">
    <h2>新しいToDoを作成する</h2>
  </div>

  <!-- ToDo追加フォームのパーシャル -->
  <%= render 'tasks/form' %>
</div>

<!-- ToDo一覧 -->
<div class="tasks">
  <% if @tasks.any? %>
    <%= render @tasks %>
  <% else %>
    <div class="no-task">
      登録されたToDoはありません
    </div>
  <% end %>
</div>
