// variables
$main_color: #fbf5e9;
$sub_color: #e4996d;
$header_color: #fff0dc;
$footer_color: #f9e3be;
$purple_color: #474ba5;
$red_color: #eb5a46;
$blue_color: #0079bf;
$white_color: #fff;
$dark-gray: #666;