// ================================
//             common
// ================================

$main_color: #fbf5e9;
$sub_color: #e4996d;
$red_color: #eb5a46;
$blue_color: #0079bf;
$white_color: #fff;
$dark-gray: #666;

body {

  .main {

    background-color: $main_color;

  }

}

.wrapper {

  height: 100%;
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;

}

// ================================
//               sp
// ================================

@media screen and (max-width:767px) {

  body {

    .main {

      min-height: 480px;
      padding: 28px 0;
      .form {

        color: $dark-gray;
        background-color: $white_color;
        border-radius: 10px;
        padding: 20px 5%;
        margin-bottom: 28px;
        .form-name {

          margin-bottom: 12px;
          h2 {

            color: $dark-gray;
            font-size: 16px;
            font-weight: 500;

          }

        }

      }
      .tasks {

        .task {

          color: $dark-gray;
          background-color: $white_color;
          border-radius: 10px;
          padding: 20px 5%;
          margin-bottom: 20px;
          .task-name {

            margin-bottom: 8px;
            h2 {

              color: $dark-gray;
              font-size: 16px;
              font-weight: 500;

            }

          }
          .task-flex {

            .flex-left {

              margin-bottom: 16px;
              .due-date {

                display: -webkit-flex;
                display: flex;
                margin-bottom: 8px;
                .label {

                  text-align: center;
                  width: 88px;              

                }
                .label, .date {

                  font-size: 16px;
                  font-weight: 500;
              
                }

              }
              .created-at {

                display: -webkit-flex;
                display: flex;
                .label {

                  text-align: center;
                  width: 88px;              

                }
                .label, .date {

                  font-size: 16px;
                  font-weight: 500;
              
                }
      
              }

            }
            .flex-right {

              display: -webkit-flex;
              display: flex;
              justify-content: space-between;
              a {

                display: block;
                height: 40px;
                width: 47%;
                .link-button {

                  display: -webkit-flex;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  height: 100%;
                  width: 100%;
                  font-size: 16px;
                  font-weight: 500;
                  color: $white_color;
                  background-color: $sub_color;
                  border-radius: 10px;

                }

              }
              a {

                display: block;
                height: 40px;
                width: 47%;
                .status {

                  display: -webkit-flex;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  height: 100%;
                  width: 100%;
                  font-size: 16px;
                  font-weight: 500;
                  color: $white_color;
                  border-radius: 10px;

                }
                .status-doing {

                  background-color: $red_color;

                }
                .status-done {

                  background-color: $blue_color;

                }

              }

            }

          }

        }
        .no-task {

          font-size: 16px;
          font-weight: 500;
          color: $red_color;

        }

      }
  
    }

  }

}

// ================================
//               pc
// ================================

@media screen and (min-width:768px) {

  body {

    .main {

      min-height: 560px;
      padding: 28px 0;
      .form {

        color: $dark-gray;
        background-color: $white_color;
        border-radius: 10px;
        padding: 20px 30px;
        margin-bottom: 28px;
        .form-name {

          margin-bottom: 12px;
          h2 {

            color: $dark-gray;
            font-size: 20px;
            font-weight: 500;

          }

        }

      }
      .tasks {

        .task {

          color: $dark-gray;
          background-color: $white_color;
          border-radius: 10px;
          padding: 20px 30px;
          margin-bottom: 20px;
          .task-name {

            margin-bottom: 8px;
            h2 {

              color: $dark-gray;
              font-size: 20px;
              font-weight: 500;

            }

          }
          .task-flex {

            display: -webkit-flex;
            display: flex;
            justify-content: space-between;
            .flex-left {

              min-width: 234px;
              .due-date {

                display: -webkit-flex;
                display: flex;
                margin-bottom: 8px;
                .label {

                  text-align: center;
                  width: 88px;              

                }
                .label, .date {

                  font-size: 18px;
                  font-weight: 500;
              
                }

              }
              .created-at {

                display: -webkit-flex;
                display: flex;
                .label {

                  text-align: center;
                  width: 88px;
              
                }
                .label, .date {

                  font-size: 18px;
                  font-weight: 500;

                }
      
              }

            }
            .flex-right {

              display: -webkit-flex;
              display: flex;
              justify-content: end;
              width: 100%;
              max-width: 570px;
              a {

                width: 30%;
                margin-left: 30px;
                .link-button {

                  display: -webkit-flex;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  height: 62px;
                  max-width: 160px;
                  font-size: 18px;
                  font-weight: 500;
                  color: $white_color;
                  background-color: $sub_color;
                  border-radius: 10px;                

                }

              }
              a {

                width: 30%;
                margin-left: 30px;
                .status {

                  display: -webkit-flex;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  height: 62px;
                  max-width: 160px;
                  font-size: 18px;
                  font-weight: 500;
                  color: $white_color;
                  border-radius: 10px;                

                }

              }
              .status-doing {

                background-color: $red_color;

              }
              .status-done {

                background-color: $blue_color;

              }

            }

          }

        }
        .no-task {

          font-size: 18px;
          font-weight: 500;
          color: $red_color;
          margin-bottom: 20px;

        }

      }

    }

  }

}