// ================================
//             header
// ================================

$header_color: #fff0dc;
$sub_color: #e4996d;

header {

  background-color: $header_color;

}

// ================================
//               sp
// ================================

@media screen and (max-width:767px) {

  header {

    height: 50px;
    .header-navi {

      height: 100%;
      display: -webkit-flex;
      display: flex;
      justify-content: space-between;
      align-items: center;
      h1.header-logo, .header-search {

        font-size: 20px;
        font-weight: 600;
        a {
        
          display: block;
          height: 100%;
          color: $sub_color;
          font-size: 20px;
          font-weight: 600;

        }

      }

    }

  }

}

// ================================
//               pc
// ================================

@media screen and (min-width:768px) {
  
  header {

    height: 60px;
    .header-navi {

      height: 100%;
      display: -webkit-flex;
      display: flex;
      justify-content: space-between;
      align-items: center;
      h1.header-logo, .header-search {

        font-size: 24px;
        font-weight: 600;
          a {
        
          display: block;
          height: 100%;
          color: $sub_color;
          font-size: 24px;
          font-weight: 600;

        }

      }

    }

  }

}
