// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ================================
//       home/index (common)
// ================================

$sub_color: #e4996d;
$red_color: #eb5a46;
$blue_color: #0079bf;
$white_color: #fff;
$dark-gray: #666;


// ================================
//         home/index (sp)
// ================================

@media screen and (max-width:767px) {
  
}

// ================================
//         home/index (pc)
// ================================

@media screen and (min-width:768px) {

}