<footer>
  <div class="wrapper">
    <div class="footer-cover">
      <!-- logo -->
      <div class="footer-logo">ToDoリスト</div>
      <!-- copyright -->
      <div class="copyright">Copyright &copy;2018 Keiichiro Takahashi</div>
    </div>
  </div>
</footer>